<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Enter details to login</h1>
    <div>
      <form method="POST" action="/api/login">
	{{ form.csrf_token }}
        <div>{{ form.username.label }}: {{ form.username() }}</div>
	<div>{{ form.password.label }}: {{ form.password() }}</div>
	<div><input type="submit" value="Login"></div>
      </form>
    </div>
  </body>
</html>
