<html>
  <head>
    <title>Register</title>
  </head>
  <body>
    <h1>Enter details to Register</h1>
    <div>
      <form method="POST" action="/api/register">
	{{ form.csrf_token }}
        <div>{{ form.username.label }}: {{ form.username() }}</div>
	<div>{{ form.password.label }}: {{ form.password() }}</div>
	<div><input type="submit" value="Register"></div>
	</br>
	<div>{{ form.status.label }}: {{ form.status() }}</div>
	<div><input type="button" value="Login Page" onclick="location.href='/api/login';" >
      </form>
    </div>
  </body>
</html>
